*.sw[a-p]
*.o
*~
*.chr
/pently.nes
/pently.nsf
/pently.nsfe
/*.nes
/*.nsf
/*.nsfe
/obj/nes/*.s
/obj/nes/*.ftm.txt
/obj/nes/pentlybss.inc
/obj/nes/*-titles.inc
/zip.in
*.nes.deb
/map.txt
/nsfmap.txt
/nsfemap.txt
__pycache__/
*.pyc
/pently-*.zip
/docs/future/

/sfxed/sfxed.nes
/sfxed/map.txt
/sfxed/obj/nes/*.s
/sfxed/obj/nes/*.ch1

/unready/sick.nes

# Dependencies copied automatically from the master copy of Pently
/sfxed/src/pently.inc
/sfxed/src/pentlysound.s
/sfxed/tools/pilbmp2nes.py
/sfxed/tools/pentlyas.py

# this is NES homebrew, not DSiWare
*.DS_Store


